syntax: glob

# Folders
**/[B|b]ackup/
**/_UpgradeReport_Files/
**/[B|b]in
**/[O|o]bj
**/[P|p]ackages/
**/[B|b]ld

# User specific files
UpgradeLog.*
*.suo
*.rdl.data
*.rptproj.user
*.user
*.database

# Static files
[W|w]eb.config
[G|g]lobal.asa