body {
    background-color: rgba(232, 232, 232, 0.80);
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

.default-container {
        background-color: rgba(235, 233, 233, 0.51);
}

.codeForm {
          width: 100%;
}

.codeInput {
          width: 100px;
          border: solid red;
}

.contentframe {
          width: 100vw;
          height: 100vh;
          
}